<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p class="footer-contact">
          {{ site.company_name }} <br>
          E-mail: {{ site.company_email }}<br>
          Copyright © 2020 Dongguk University. All rights reserved 
        </p>
      </div>
      <div id="social-icons">
        {% if site.facebook_link %}
          <a href="{{ site.facebook_link }}" class="btn-group facebook">
            <i class="fa fa-facebook"></i>
          </a>
        {% endif %}

        {% if site.github_link %}
          <a href="{{ site.github_link }}" class="btn-group github">
            <i class="fa fa-github"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>