<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="page-header">    
    <h1>
      <img src="../assets/img/logo/dongguk-logo.png" width="56"/>
      동국대학교 고등지능연구원
      <small>인공지능 연구실</small>
    </h1>
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="active">
        <a href="/">HOME</a>
      </li>
      <li>
        <a href="/people.html">PEOPLE</a>
      </li>
      <li>
        <a href="/blog.html">PROJECTS</a>
      </li>
      <li>
        <a href="/blog.html">PUBLICATION</a>
      </li>
      <li>
        <a href="/blog.html">TEACHING</a>
      </li>
      <li>
        <a href="/contactus.html"><span>CONTACT US</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->
