<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="page-header">    
    <h1>
      <img src="../assets/img/logo/dongguk-logo.png" width="56"/>
      <br class="mobile-break">동국대학교<br class="mobile-break"> 고등지능연구원
      <br class="mobile-break">
      <small>인공지능 연구센터</small>
    </h1>
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="{% if page.path == 'index.html' %}active{% endif %}">
        <a href="/index.html">메인화면</a>
      </li>
      <li class="{% if page.path == 'people.html' %}active{% endif %}">
        <a href="/people.html">구성원</a>
      </li>
      <li class="{% if page.path == 'research.html' %}active{% endif %}">
        <a href="/research.html">연구활동</a>
      </li>
      <li class="{% if page.path == 'class.html' %}active{% endif %}">
        <a href="/class.html">강의</a>
      </li>
      <li class="{% if page.path == 'contactus.html' %}active{% endif %}">
        <a href="/contactus.html"><span>찾아오시는 길</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->
